// HEADER

.navbar-custom {
    background-color: #05476A;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link,
.fa-bars,
.btn {
    color: #FFF6CB;
}

.navbar-toggler {
    border: #FFF6CB solid;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.btn {
    border: #FFF6CB solid;
    outline: none;
}

.login-btn,
.register-btn,
.editBtn,
.bidBtn,
.search-button,
.avatar-btn {
    background-color: #05476A;
    border: none;
    color: #FFF6CB;
}

.login-btn:hover,
.register-btn:hover,
.deleteBtn,
.editBtn:hover,
.bidBtn:hover,
.search-button:hover,
.avatar-btn:hover {
    border: #05476A solid;
    color: #05476A;
}

button a {
    color: #FFF6CB;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

// button:focus:not(:focus-visible) {
//     outline: none;
// }

// MAIN

main {
    margin: 0px 20px;
}

.listing-container {
    margin: 0px 50px;
}