@import "variables.scss";

// HEADER

.navbar-custom,
footer {
    background-color: $drkblue;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link,
.fa-bars {
    color: #FFF6CB;
}

.navbar-toggler {
    border: #FFF6CB solid;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: #FFF6CB solid;
    outline: none;
}

.login-btn,
.register-btn,
.bidBtn,
.search-button,
.avatar-btn,
.viewMore {
    background-color: $drkblue;
    border: none;
    color: #FFF6CB;
}

.editBtn {
    border: solid $drkblue;
    background-color: $drkblue;
    color: #FFF6CB;
}

button a {
    color: #FFF6CB;
    text-decoration: none;
}

.login-btn:hover,
.register-btn:hover,
.deleteBtn,
.editBtn:hover,
.bidBtn:hover,
.search-button:hover,
.avatar-btn:hover,
button:hover {
    background-color: #FFF;
    border: $drkblue solid;
    color: $drkblue;
}

// MAIN

main {
    margin: 0px 20px;
}

.listing-container {
    margin: 0px 50px;
}


// FOOTER

footer h3, footer p {
    color: #fff;
}
