@import "variables.scss";

// HEADER

.navbar-custom,
footer {
    background-color: $drkblue;
}

.nav-link,
.fa-bars {
    color: #FFF6CB;
}

.navbar-toggler {
    border: #FFF6CB solid;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: #FFF6CB solid;
    outline: none;
}

#myInput:hover {
    cursor: pointer;
}

// .login-btn,
// .register-btn,
// .bidBtn,
// .search-button,
// .avatar-btn,
// .viwBtn {
//     background-color: $drkblue;
//     border: none;
//     color: #FFF6CB;
//     text-decoration: none;
// }

// .editBtn {
//     background-color: #228B22;
//     border: none;
//     color: $drkblue;
// }

// .editBtn a {
//     background-color: #228B22;
// }

// .editBtnBorder {
//     background-color: #228B22;
//     border: #228B22 solid;
//     color: #FFF6CB;
// }

// .deleteBtn,
// .viewMore {
//     background-color: #fff;
//     border: #228B22 solid;
//     color: $drkblue;
// }

button,
.btn {
    background-color: $drkblue;
    border: none;
    color: #FFF6CB;
    text-decoration: none;
}

button:hover {
    box-shadow: 10px 10px;
}

button a {
    text-decoration: none;
    color: #fff;
}


// MAIN

main {
    margin: 0px 20px;
}

.listing-container {
    margin: 0px 50px;
}


// FOOTER

footer h3, footer p {
    color: #fff;
}
